@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Main Colors */
	--main-blue: #88c9ff;
	--circuit-shimmer: #;
	/* Font Colors */
	--text-default: #ccc;
	--text-secondary: #cdcdcd;
	--text-emphasis: #fff;
	--text-selected: var(--main-blue);

	/* Background/Border Colors */
	--container-bg: #000;
	--container-bg-selected: #08121b;
	--container-border: #333333;
	--success-green-border: #66d485;
	--success-green-bg: #002009;
	--error-red-border: #d46d66;
	--error-red-bg: #1d0200;
}

body {
	background-color: #000;
	color: var(--text-default);
	font-weight: 300;
}

.backdrop {
	background-image: url('../../public/backdrop.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top center;

	@media (max-width: 768px) {
		background-size: 140%;
	}
}
