@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Main Colors */
	--main-blue: #88c9ff;

	/* Font Colors */
	--text-default: #ccc;
	--text-secondary: #cdcdcd;
	--text-emphasis: #fff;
	--text-selected: var(--main-blue);

	/* Background/Border Colors */
	--success-green-border: #66d485;
	--success-green-bg: #002009;
	--error-red-border: #d46d66;
	--error-red-bg: #1d0200;
}

body {
	background-color: #000;
	color: var(--text-default);
}
