@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Main Colors */
	--main-blue: #88c9ff;
	--secondary-blue: #08121b;

	/* Font Colors */
	--text-default: #ccc;
	--text-secondary: #cdcdcd;
	--text-semi-emphasis: #fafafa;
	--text-emphasis: #fff;
	--text-selected: var(--main-blue);

	/* Background/Border Colors */
	--container-bg: #000;
	--container-bg-hover: var(--main-blue);
	--container-bg-selected: var(--secondary-blue);
	--container-border: #333333;
	--container-border-light: #cdcdcd;
	--container-border-selected: var(--main-blue);
	--container-border-hover: var(--main-blue);
	--button-bg-disabled: #333333;
	--success-green-border: #66d485;
	--success-green-bg: #002009;
	--warning-yellow-border: #e1e385;
	--error-red-border: #d46d66;
	--error-red-bg: #1d0200;

	/* Gradients */
	--blue-white-linear-gradient: linear-gradient(
		61deg,
		#52cbff 17.79%,
		#fff 22.25%,
		#00b2ff 31.82%,
		#87dbff 47.7%,
		#00b2ff 62.95%,
		#fff 73.24%,
		#52cbff 77.56%
	);
	--blue-radial-gradient: radial-gradient(#040e29, #00000030);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

body {
	background-color: #000;
	color: var(--text-default);

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
	display: none;
}

.gradient-vault-name {
	background: var(--blue-white-linear-gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.radial-gradient-text {
	background: radial-gradient(#88c9ff 0%, #fff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.blue-white-gradient-background {
	background: var(--blue-white-linear-gradient);
}

.blue-radial-gradient-background {
	background-image: var(--blue-radial-gradient);
}

.gradient-container-blue {
	background: linear-gradient(
		69deg,
		#88c9ff 17.79%,
		#3551b4 22.25%,
		#000b31 31.82%,
		#000000 47.7%,
		#000b31 62.95%,
		#3551b4 73.24%,
		#88c9ff 77.56%
	);
}

.gradient-container-yellow {
	background: linear-gradient(
		10deg,
		#e9b735 17.79%,
		#dac761 22.25%,
		#312600 31.82%,
		#646363 47.7%,
		#312600 62.95%,
		#dac761 73.24%,
		#e9b735 77.56%
	);
}

.loading span {
	animation-name: dots;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	opacity: 0; /* Start invisible */
}

.loading span:nth-child(1) {
	animation-delay: 0.2s;
}

.loading span:nth-child(2) {
	animation-delay: 0.4s;
}

.loading span:nth-child(3) {
	animation-delay: 0.6s;
}

@keyframes dots {
	0%,
	60%,
	100% {
		opacity: 0;
	}
	20%,
	40% {
		opacity: 1;
	}
}

#tsparticles {
	height: 10vw;
	max-height: 120px;

	@media screen and (max-width: 768px) {
		height: 20vw;
	}
}
